@model LexiconLMS.Models.Course

@{
    ViewBag.Title = "Kurssida";
}
<div style="height:20px"></div>
<h1>Kurs: @Html.DisplayFor(model => model.Name)</h1>

<h5> @Html.DisplayNameFor(model => model.StartDate) : @Html.DisplayFor(model => model.StartDate)</h5>

<div style="height:50px"></div>

<div>
    <hr />
    <dl class="container-fluid">
        <dd>
            @Html.Raw(Model.Content)
        </dd>
    </dl>
</div>

